body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    font-size: 24px;
  }
  
  .button:first-child {
    background-image: url('/assets/language/english.jpg'); /* Replace with your image URL */
  }
  
  .button:last-child {
    background-image: url('/assets/language/espanol.jpg'); /* Replace with your image URL */
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }