body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  font-size: 16px; /* Fixed font size */
  position: relative;
  text-size-adjust: none; /* Disable automatic text size adjustment */
}

.izquierda,
.derecha {
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  background-size: cover;
  position: relative;
  overflow: hidden; /* Hide the overlay when not hovered */
}

.izquierda::before,
.derecha::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transition: opacity 0.3s ease; /* Add a transition for a smooth effect */
}

.izquierda:hover::before,
.derecha:hover::before {
  opacity: 0; /* On hover, make the overlay disappear */
}

.izquierda {
  background-image: url("assets/language/english.jpg");
}

.derecha {
  background-image: url("assets/language/espanol.jpg");
}

/* Increase the font size on hover */
.izquierda:hover,
.derecha:hover {
  font-size: 3rem;
}

@media print {
  body {
    font-size: 16px;
  }
  .izquierda,
  .derecha {
    font-size: 2rem;
  }
}
