body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  font-size: 16px; 
}

.izquierda {
  width: 50%;
  background: url('assets/language/english.jpg') no-repeat center center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: darkgrey;
}

.derecha {
  width: 50%;
  background: url('assets/language/espanol.jpg') no-repeat center center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: darkgrey;
}

@media print {
  /* Tamaño de fuente constante para la versión de impresión */
  body {
    font-size: 16px;
  }
  .izquierda, .derecha {
    font-size: 2rem;
  }
}






